/* Table of contents
--------------------------------------------------
    1. General
    2. Headings
    3. Font sizes
    4. Font weights
    5. Font families
    6. Links
*/

/** 1. General
-------------------------*/
/* #region */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.6;
  color: var(--clr-neutral-600);
}

.ellipse-text {
  display: -webkit-box;
  line-height: var(--line-height, 1.2);
  -webkit-line-clamp: var(--lines, 1);
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* #endregion */

/** 2. Headings
-------------------------*/
/* #region */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: var(--fw-bold);
}

h1,
.h1,
h2,
.h2 {
  font-family: var(--ff-accent);
}
h1,
.h1 {
  font-size: var(--fs-800);
}

h2,
.h2 {
  font-size: var(--fs-550);
}

h3,
.h3 {
  font-size: var(--fs-450);
}
/* #endregion */

/** 3. Font sizes
-------------------------*/
/* #region */
.text-450 {
  font-size: var(--fs-450);
}

.text-500 {
  font-size: var(--fs-500);
}

.text-550 {
  font-size: var(--fs-550);
}

.text-600 {
  font-size: var(--fs-600);
}

.text-700 {
  font-size: var(--fs-700);
}

.text-800 {
  font-size: var(--fs-800);
}
/* #endregion */

/** 4. Font weights
-------------------------*/
/* #region */
.text-light {
  font-weight: var(--fw-light);
}

.text-bold {
  font-weight: var(--fw-bold);
}
/* #endregion */

/** 5. Font families
-------------------------*/
/* #region */
.text-base {
  font-family: var(--ff-base);
}

.text-accent {
  font-family: var(--ff-accent);
}
/* #endregion */

/** 6. Links
-------------------------*/
/* #region */
/* #endregion */
